body {
	text-align: center;}

#content {
    background-color: #fff;
    border: 3.2px double #31373f;
    color: #31373f;
    display: inline-block;
    padding: 30px 50px;
    margin: 10px auto 30px auto;
    max-width: 580px;
    min-height: 4em;
    overflow: auto;
    text-align: center;}

#title {
    font-size: 120%;
    font-weight: bold;}

#cost, .action {
    background-color: #f84c53;
    color: #fff;
    width: auto;
    height: 2.4em;
    padding: 0.4em 0.75em;
    float: right;}
#cost {
    position: relative;
    top: 1em;
    right: 2em;}
.action {
    position: relative;
    top: 1.4em;
    right: -2.5em;}

#note {
    background-color: #31373f; 
    border-radius: 0.5em;
    color: #e3bb5a;
    padding: 0.5em 1em;
    margin-top: 1em;
    text-transform: uppercase;
    display: inline-block;}

a {
    color: #4E65BF;
    text-decoration: none;}

.true, .false {
    background: url("../images/tick-cross.png");
    display: block;
    float:right;
    height: 25px;
    width: 25px;}
.false {
    background-position: 0 -25px;}

.message {
    font-weight: bold;
    line-height: 1.5em;
    height: 2em;
    display: block;
    clear: left;
    min-width: 10em;}

.message span { 
    font-weight: normal;}

.number {
    text-align: left;}

table {
    margin: 20px 50px 0 120px;}

tr td:first-child {
    font-weight: bold;
    padding-right: 20px;}